* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth
}

body {
    background-color: rgb(250, 250, 250);
}

/* NAV */

.menu {
    position: fixed;
    left: 0;
    right: 0;
    font-size: 18px;
    top: -15vh;
    background-color: white;
    transition: 0.3s;
}

.menu ul {
    padding: 1% 0 5% 10%;
}

.menu ul li {
    list-style-type: none;
}

ul li a {
    display: block;
    padding: 2px;
    color: rgb(53, 53, 53);
    line-height: 100%;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}

ul li a:hover {
    color: rgb(0, 151, 0);
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5vh;
    background-color: white;
    z-index: 2;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}

.logo {
    align-self: center;

}

.logo span {
    color: rgb(0, 151, 0);
    padding-left: 10px;
}

.logo a {
    font-size: 18px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.burger {
    align-self: center;
    padding-right: 10px;
    font-size: 18px;
}

.active {
    top: 5vh;
}

@media (min-width: 768px) and (orientation: portrait) {

    ul li a {
        font-size: 18px;
    }

    .logo span {
        padding-left: 50px;
    }

    .logo a {
        font-size: 20px;
    }

    .burger {
        padding-right: 20px;
        font-size: 20px;
    }

}

@media (min-width: 1024px) and (orientation: portrait) {
    .menu {
        left: 40%;
        right: 0;
        top: 0;
        z-index: 3;
    }

    .menu ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        height: 5vh;
    }

    ul li a {
        padding: 20px 10px;
        color: black;
        font-size: 20px;
        letter-spacing: 0px;
    }

    .logo span {
        padding-left: 20px;
    }

    .logo a {
        font-size: 22px;
    }

    .burger {
        display: none;
    }
}

/* HEADER */

header {
    background-image: url(img/header.jpg);
    background-position: center;
    color: white;
    height: 100vh;
}

.wrap {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}


header .wrap h1 {
    text-transform: uppercase;
    text-shadow: 2px 2px black;
    padding: 50% 5% 10% 5%;
    font-size: 46px;
    text-align: center;
}

header .wrap p {
    padding: 5%;
    font-size: 16px;
    color: rgb(238, 238, 238);
    text-align: center;
}

header .wrap button {
    margin: 10% auto;
}

.btn {
    display: block;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    border: 1px solid rgb(0, 100, 0);
    border-radius: 25%;
    background-color: rgb(0, 151, 0);
    -moz-border-radius: 38px;
    -webkit-border-radius: 38px;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer;
}

@media (min-width: 768px) and (orientation: portrait) {
    header .wrap h1 {
        padding: 40% 5% 10% 5%;
        font-size: 54px;
    }

    header .wrap p {
        font-size: 28px;
    }

    .btn {
        padding: 20px 30px;
        font-size: 22px;
    }
}

@media (min-width: 1024px) and (orientation: portrait) {
    header {
        height: 50vh;
    }

    .wrap {
        height: 50vh;
    }

    header .wrap h1 {
        padding: 30% 5% 1% 5%;
    }

    header .wrap p {
        padding: 1%;
    }
}

/* SECTION FEATURES */

.features h1 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    padding: 15% 5% 5% 5%;
}

.features p {
    font-size: 18px;
    text-align: center;
    color: rgb(53, 53, 53);
    padding: 0 5%;
}

.feature {
    text-align: center;
    padding: 10%;
}

.feature h2 {
    font-size: 26px;
}

.feature span {
    font-size: 68px;
    padding-bottom: 10px;
}

@media (min-width: 768px) and (orientation: portrait) {
    .features h1 {
        font-size: 40px;
        padding: 10% 5% 2% 5%;
    }

    .features p {
        font-size: 22px;
        padding: 2% 5%;
    }

    .feature {
        padding: 5%;
    }

    .feature h2 {
        font-size: 30px;
    }

    .feature span {
        font-size: 85px;
        padding-bottom: 15px;
    }
}

@media (min-width: 1024px) and (orientation: portrait) {
    .features {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        flex-basis: 100%;
    }

    .features h1 {
        flex-basis: 100%;
        font-size: 40px;
        padding: 10% 5% 1% 5%;
    }

    .features p {
        flex-basis: 100%;
        font-size: 28px;
        padding: 1% 5% 5% 5%;
    }

    .feature {
        flex-basis: 33%;
        padding: 5% 3%;
    }

    .feature h2 {
        font-size: 30px;
    }

    .feature span {
        font-size: 70px;
        padding-bottom: 10px;
    }
}

/* SECTION ABOUT */
.about {
    display: flex;
}

.about .fa-cog {
    display: none;
    color: #535353;
}

.about .wrapper {
    background-image: url(img/mountain.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.bgopacity {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.about .wrapper h1 {
    font-size: 36px;
    text-transform: uppercase;
    padding: 10% 5%;
}

.bgopacity h1 span {
    color: rgb(0, 151, 0);
}

.wrapper p {
    font-size: 16px;
    padding: 5%;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    padding: 5%;
    flex-basis: 90%;
}

.list span {
    font-size: 30px;
    flex-basis: 2%;
    padding-right: 10px;
}

.list p {
    font-size: 16px;
    flex-basis: 80%;
    padding: 5% 0;
}

.bgopacity .btn {
    margin: 0 5%;

}

@media (min-width: 768px) and (orientation: portrait) {
    .bgopacity {
        height: 85vh;
    }

    .about .wrapper h1 {
        font-size: 44px;
        padding: 15% 5% 5% 5%;
    }

    .bgopacity h1 span {
        color: rgb(0, 151, 0);
    }

    .wrapper p {
        font-size: 24px;
        padding: 2% 5%;
    }

    .list {
        font-size: 24px;
    }

    .list span {
        font-size: 35px;
        flex-basis: 5%;
        padding-right: 10px;
    }

    .list p {
        font-size: 24px;
        flex-basis: 90%;
        padding: 3% 0;
    }

    .bgopacity .btn {
        margin: 30px auto;
        padding: 20px 30px;
        font-size: 22px;
    }
}

/* SECTION PORTFOLIO  */


.portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 90%;
}

.description {
    flex-basis: 100%;
    flex-grow: 1;
}

.description h1 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    padding: 20% 3% 0% 3%;
}

.description p {
    font-size: 18px;
    text-align: center;
    padding: 0% 5%;
    color: rgb(53, 53, 53);
}

.description p:nth-last-of-type(1) {
    text-align: left;
    padding: 0% 5% 2% 5%;
}

.description h2 {
    font-size: 20px;
    padding: 15% 5% 0% 5%;
    text-transform: uppercase;
}

.tech {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    padding: 5%;
    flex-basis: 100%;
}

.tech div {
    padding: 5% 0% 5% 5%;
    flex-basis: 25%;
}

.tech div span {
    font-size: 40px;
    border: 4px solid black;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 65px;
    text-align: center;
    vertical-align: center;
}

.tech .spec {
    flex-basis: 60%;
    padding: 5%;
}

.spec h1 {
    font-size: 20px;
}

.spec p {
    font-size: 16px;
    color: rgb(53, 53, 53);
}

.tech p:nth-last-child(2) {
    font-size: 18px;
    color: rgb(53, 53, 53);
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
}

.tech a {
    display: block;
    text-transform: uppercase;
    color: rgb(0, 151, 0);
    text-decoration: none;
}

.techImage {
    flex-basis: 100%;
    overflow: hidden;
    height: 20vh;
}

.techImage img {
    position: relative;
    top: 45%;
    left: 50%;
    width: auto;
    height: 100%;
    transform: scale(2.5);
}

@media (min-width: 768px) and (orientation: portrait) {
    .description h1 {
        font-size: 40px;
        padding: 8% 3% 0% 3%;
    }

    .description p {
        font-size: 24px;
        padding: 2% 5%;
    }

    .description p:nth-last-of-type(1) {
        padding: 1% 5% 2% 5%;
    }

    .description h2 {
        font-size: 24px;
        padding: 5% 5% 0% 5%;
    }

    .tech {
        font-size: 24px;
    }

    .tech div {
        padding: 3% 0% 3% 3%;
        flex-basis: 10%;
    }

    .tech div span {
        font-size: 40px;
        width: 80px;
        height: 80px;
        line-height: 80px;
    }

    .tech .spec {
        flex-basis: 80%;
        padding: 3% 40% 3% 3%;
    }

    .spec h1 {
        font-size: 24px;
    }

    .spec p {
        font-size: 18px;
    }

    .tech p:nth-last-child(2) {
        font-size: 22px;
        width: 90%;
    }
}

/* SECTION ATTRIBUTE */

.attribute {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(247, 245, 240);
    box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.2);
    padding-bottom: 40px;
}

.attr-des {
    flex-basis: 100%;
}

.attr-des h1 {
    font-size: 30px;
    text-transform: uppercase;
    padding: 15% 5% 2% 5%;
    text-align: center;
}

.attr-des p {
    font-size: 18px;
    padding: 0% 5% 15% 5%;
    text-align: center;
    color: rgb(53, 53, 53);
}

.attr {
    flex-basis: 100%;
    text-align: center;
    padding: 5%;
}

.attr span {
    font-size: 40px;
    height: 80px;
    width: 80px;
    border: 4px solid rgb(53, 53, 53);
    border-radius: 50%;
    line-height: 70px;
    text-align: center;
    color: rgb(53, 53, 53);
}

.attr h2 {
    position: relative;
    font-size: 24px;
    text-transform: uppercase;
    padding-top: 5%;
}

.attr p {
    font-size: 16px;
    color: rgb(53, 53, 53);
}


.attr h2::before {
    display: block;
    content: "";
    width: 70px;
    height: 2px;
    background-color: rgb(53, 53, 53);
    position: absolute;
    top: -40px;
    left: 40px;
}

.attr h2::after {
    display: block;
    content: "";
    width: 70px;
    height: 2px;
    background-color: rgb(53, 53, 53);
    position: absolute;
    top: -40px;
    right: 40px;
}

@media (min-width: 768px) and (orientation: portrait) {
    .attr-des h1 {
        font-size: 40px;
        padding: 10% 5% 2% 5%;
    }

    .attr-des p {
        font-size: 22px;
        padding: 0% 5% 1% 5%;
    }

    .attr {
        padding: 2%;
    }

    .attr h2 {
        padding-top: 2%;
    }

    .attr p {
        font-size: 18px;
        padding: 1% 20%;
    }

    .attr h2::before {
        height: 4px;
        left: 250px;
    }

    .attr h2::after {
        height: 4px;
        right: 250px;
    }
}

/* SECTION CLIENTS */

.clients {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.heading {
    flex-basis: 100%;
    text-align: center;
}

.heading h1 {
    font-size: 30px;
    text-transform: uppercase;
    padding: 10% 5% 0 5%;
}

.heading p {
    font-size: 18px;
    padding: 0 2% 10% 2%;
    color: rgb(53, 53, 53);
}

.customerFoto {
    position: relative;
    flex-basis: 100%;
    justify-content: space-between;
    padding: 5%;
}

.customerFoto img {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(50%, 0);
    width: 50%;
    height: auto;
    border-radius: 50%;
}

.customer p:nth-of-type(1) {
    font-size: 18px;
    color: rgb(53, 53, 53);
    padding: 5%;
}

.customer p:nth-of-type(2) {
    font-size: 16px;
    color: rgb(0, 151, 0);
    padding: 5%;
}

.customer {
    position: relative;
    background: rgb(247, 245, 240);
    border-radius: 5%;
    padding: 5%;
    text-align: center;
    margin: 5%;
    box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.2);
}

.customer:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 24px solid transparent;
    border-bottom-color: rgb(247, 245, 240);
    border-top: 0;
    margin-left: -20px;
    margin-top: -20px;
}

@media (min-width: 768px) and (orientation: portrait) {

    .heading h1 {
        font-size: 40px;
        padding: 10% 5% 1% 5%;
    }

    .heading p {
        font-size: 22px;
        padding: 0 2% 2% 2%;
    }

    .customerFoto {
        padding: 2%;
    }

    .customerFoto img {
        position: relative;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 30%;
        height: auto;
        border-radius: 50%;
    }

    .customer p:nth-of-type(1) {
        font-size: 22px;
        padding: 1%;
    }

    .customer p:nth-of-type(2) {
        font-size: 22px;
        padding: 1%;
    }

    .customer {
        padding: 1%;
        margin: 4%;
    }
}

/* SECTION NEXT-PROJECT */

.next-project {
    background-color: white;
}

.next {
    text-align: center;
    background-color: rgb(0, 151, 0);
    color: white;
    margin-bottom: 10%;
}

.next h1 {
    font-size: 30px;
    padding: 5%;
}

.next button {
    background-color: transparent;
    font-size: 18px;
    text-transform: uppercase;
    border: 2px solid white;
    margin: 5%;
    border-radius: 10px;
    cursor: pointer;
}

.next button a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}

.logo-next {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.logo-next div {
    position: relative;
    flex-basis: 100%;
    padding: 10%;
}

.logo-next img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

@media (min-width: 768px) and (orientation: portrait) {

    .next {
        margin-bottom: 1%;
    }

    .next h1 {
        font-size: 40px;
        padding: 3% 5%;
    }


    .next button {
        font-size: 22px;
        margin: 2%;
    }

    .next button a {
        padding: 20px 30px;
    }

    .logo-next div {
        flex-basis: 50%;
        padding: 10%;
    }
}

/* SECTION CONTACT */

.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    background-color: #222222;
    color: rgb(255, 254, 250);
}

.adress {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 15%;
}

.adress h1 {
    font-size: 22px;
    flex-basis: 100%;
    padding-bottom: 5%;
    text-transform: uppercase;
}

.adress p {
    color: rgb(216, 216, 216);
    flex-basis: 85%;
    font-size: 16px;
}

.adress p a {
    color: rgb(216, 216, 216);
    text-decoration: none;

}

.adress p:nth-of-type(1) {
    padding-right: 100px;
}

.adress span {
    flex-basis: 5%;
    padding: 5px;
    font-size: 30px;
}

.mail {
    cursor: pointer;
}

.mail:hover {
    color: rgb(0, 151, 0);
}

.activities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 15%;
    flex-basis: 100%;
}

.activities h1 {
    font-size: 22px;
    flex-basis: 100%;
    padding-bottom: 10%;
    text-transform: uppercase;
}

.activities p {
    flex-basis: 85%;
    color: rgb(216, 216, 216);
    font-size: 16px;
}

.activities span {
    flex-basis: 6%;
    font-size: 30px;
}

.lastTweets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 15%;
    padding-bottom: 15%;
    flex-basis: 100%;
}

.lastTweets h1 {
    font-size: 22px;
    flex-basis: 100%;
    padding-bottom: 10%;
    text-transform: uppercase;
}

.lastTweets span {
    flex-basis: 10%;
    font-size: 30px;
}

.lastTweets div {
    flex-basis: 85%;
    color: rgb(216, 216, 216);
    font-size: 16px;
    padding-bottom: 5%;
}

@media (min-width: 768px) and (orientation: portrait) {

    .adress {
        padding-top: 1%;
    }

    .adress h1 {
        font-size: 30px;
        padding-bottom: 2%;
    }

    .adress p {
        flex-basis: 92%;
        font-size: 22px;
    }


    .adress p:nth-of-type(1) {
        padding-right: 100px;
    }

    .adress span {
        flex-basis: 7%;
    }

    .activities {
        padding-top: 5%;
    }

    .activities h1 {
        font-size: 30px;
        padding-bottom: 2%;
    }

    .activities p {
        flex-basis: 90%;
        font-size: 22px;
    }

    .lastTweets {
        padding-top: 5%;
        padding-bottom: 2%;
        flex-basis: 100%;
    }

    .lastTweets h1 {
        font-size: 30px;
        padding-bottom: 2%;
    }

    .lastTweets span {
        flex-basis: 8%;
        font-size: 30px;
    }

    .lastTweets div {
        flex-basis: 92%;
        font-size: 16px;
        padding-bottom: 2%;
    }

}

/* FOOTER */

.footerBar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: white;
}

.copyright {
    padding: 5%;
    font-size: 18px;
}

.socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.socials a {
    font-size: 40px;
    color: #222222;
    padding: 0 5%;
    text-align: center;
}

.fab {
    transition: 0.3s;
}

.fa-facebook:hover {
    color: #4267b2;
}

.fa-twitter:hover {
    color: #1da1f2;
}

.fa-google-plus:hover {
    color: #ca3b2b;
}

.fa-pinterest-p:hover {
    color: #e60023;
}

@media (min-width: 768px) and (orientation: portrait) {
    .footerBar {
        height: 10vh;
    }

    .copyright {
        padding: 2%;
        font-size: 22px;
    }

    .socials a {
        padding: 1% 5%;
    }
}