* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth
}

body {
    background-color: rgb(250, 250, 250);
}

/* NAV */

.menu {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 18px;
    top: -50vh;
    background-color: rgb(255, 0, 0);

}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5vh;
    background-color: rgb(255, 0, 0);
    z-index: 20;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}

.logo {
    align-self: center;

}

.logo span {
    color: green;
    padding-left: 10px;
}

.logo a {
    font-size: 18px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.burger {
    align-self: center;
    padding-right: 10px;
    font-size: 18px;
}